<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap   = "http://phonegap.com/ns/1.0" id= "cf.mercayuda.app" version = "0.1" >

<name>MarcaAyuda</name>
<description></description>
<author href="http://www.mercayuda.cf" email="maitret@myhostmx.com">
MercaAyuda.cf
</author>
<!-- content src="index.html"/ -->
<!--
<preference name="phonegap-version" value="cli-5.2.0" />
<preference name="phonegap-version" value="cli-6.1.0" />
<preference name="phonegap-version" value="cli-6.3.0" />
<preference name="phonegap-version" value="cli-5.2.0" />
<preference name="phonegap-version" value="cli-6.0.0" />
<preference name='phonegap-version' value='cli-7.0.1' />
<preference name='pgb-builder-version' value='2' />
<preference name='phonegap-version' value='cli-6.5.0' />
-->

<preference name="DisallowOverscroll" value="true"/>
<preference name="android-minSdkVersion" value="14"/>
<preference name="permissions"                value="none"/>
<preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
<preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
<preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
<preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
<preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
<preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
<preference name="detect-data-types"          value="false" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
<preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
<preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
<preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
<preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
<preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
<preference name="CameraUsesGeolocation" value="true" />
<preference name="android-build-tool" value="gradle" />
<preference name="SplashScreenDelay" value="3000" />
<preference name="AllowInlineMediaPlayback" value="true"/>
<preference name="MediaPlaybackRequiresUserAction" value="false"/>

<plugin name="cordova-plugin-battery-status" />
<plugin name="cordova-plugin-camera" />
<plugin name="cordova-plugin-media-capture" />
<plugin name="cordova-plugin-console" />
<plugin name="cordova-plugin-contacts" />
<plugin name="cordova-plugin-device" />
<plugin name="cordova-plugin-device-motion" />
<plugin name="cordova-plugin-device-orientation" />
<plugin name="cordova-plugin-dialogs" />
<plugin name="cordova-plugin-file" />
<plugin name="cordova-plugin-file-transfer" spec="~1.6.3" />
<plugin name="cordova-plugin-geolocation" />
<plugin name="cordova-plugin-inappbrowser" />
<plugin name="cordova-plugin-media" />
<plugin name="cordova-plugin-network-information" />
<plugin name="cordova-plugin-splashscreen" />
<plugin name="cordova-plugin-vibration" />
<plugin name="cordova-plugin-statusbar"/>
<plugin name="cordova-plugin-vibration"/>
<plugin name="cordova-plugin-android-permissions"/>
<plugin name="cordova-plugin-imei"/>

<plugin name="cordova-plugin-geolocation">
<variable name="GEOLOCATION_USAGE_DESCRIPTION" value="Posicionamiento en el Mapa" />
</plugin>

<gap:plugin name="cordova-plugin-x-toast" source="npm" />
<gap:plugin name="cordova-plugin-customurlscheme" source="npm">
<param name="URL_SCHEME" value="mercayuda" />
</gap:plugin>

<!-- <plugin name="phonegap-plugin-push" spec="~2.0.0" source="npm"> -->
<plugin name="phonegap-plugin-push" spec="~1.4.5" source="npm">
<param name="SENDER_ID" value="38913838556" />
</plugin>

<!---<plugin name="com.phonegap.plugins.barcodescanner" />-->
<!-- <gap:plugin name="phonegap-plugin-barcodescanner" source="npm" /> -->

<plugin name="phonegap-plugin-barcodescanner" spec="^6.0.8">
<variable name="CAMERA_USAGE_DESCRIPTION" value="Activa el escaner" />
</plugin>

<gap:plugin name="cordova-plugin-flashlight" source="npm" />
<!-- <plugin name="cordova-plugin-health" source="npm" />
<plugin spec="https://github.com/Litekey/heartbeat-cordova-plugin.git" source="git" /> -->

<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
<gap:plugin name="cordova-plugin-background-app" source="npm" />
<gap:plugin name="cordova-plugin-datepicker" source="npm" />

<!--
<gap:plugin name="de.appplant.cordova.plugin.background-mode" /> -->
<!--<plugin name="hazems-cordova-plugin-sms" source="npm" />-->
<!--
<gap:plugin name="cordova-plugin-googlemaps" source="npm">
<param name="API_KEY_FOR_ANDROID" value="AIzaSyCXFNRlaxHSxI8Gqk0iaII5YDTTLwGejSM" />
<param name="API_KEY_FOR_IOS" value="AIzaSyA0tumqw8e4mmN5_7VH0GCxHtUtSiAZKbI" />
</gap:plugin> -->

<icon src="icon.png" />
<platform name="android">
	<icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
	<icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
	<icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
	<icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
	<icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
	<icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
	<splash density="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
	<splash density="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
	<splash density="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
	<splash density="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
	<splash density="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
	<splash density="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
	<splash density="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
	<splash density="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
	<splash density="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
	<splash density="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
	<splash density="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
	<splash density="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
</platform>
<platform name="ios">
	<icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
	<icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
	<icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
	<icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
	<icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
	<icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
	<icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
	<icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
	<icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
	<icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
	<icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
	<icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
	<icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
	<icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
	<icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
	<icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
	<splash height="1136" platform="ios" src="res/screens/ios/Default-568h@2x~iphone.png" width="640" />
	<splash height="1334" platform="ios" src="res/screens/ios/Default-667h.png" width="750" />
	<splash height="2208" platform="ios" src="res/screens/ios/Default-736h.png" width="1242" />
	<splash height="1242" platform="ios" src="res/screens/ios/Default-Landscape-736h.png" width="2208" />
	<splash height="1536" platform="ios" src="res/screens/ios/Default-Landscape@2x~ipad.png" width="2048" />
	<splash height="768" platform="ios" src="res/screens/ios/Default-Landscape~ipad.png" width="1024" />
	<splash height="2048" platform="ios" src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
	<splash height="1024" platform="ios" src="res/screens/ios/Default-Portrait~ipad.png" width="768" />
	<splash height="960" platform="ios" src="res/screens/ios/Default@2x~iphone.png" width="640" />
	<splash height="480" platform="ios" src="res/screens/ios/Default~iphone.png" width="320" />
</platform>
<platform name="wp8">
<icon src="icon.png" />
</platform>
<platform name="windows">
<icon src="icon.png" />
</platform>

<gap:config-file platform="ios" parent="CFBundleShortVersionString">
<string>100</string>
</gap:config-file>

<access origin="*"/>
<plugin name="cordova-plugin-whitelist" />
<allow-navigation href="*" />
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
<allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />

<platform name="android">
<allow-intent href="market:*" />
</platform>
<platform name="ios">
<allow-intent href="itms:*" />
<allow-intent href="itms-apps:*" />
</platform>

</widget>
